venv/
__pycache__/
*.pyc

.env

models/*.pkl
models/*.joblib

.ipynb_checkpoints/

.vscode/

.DS_Store
Thumbs.db

# datasets
data/
*.csv

# trained transformers models
app/models/phishing_model/
*.safetensors